@tailwind base;
@tailwind components;
@tailwind utilities;

/*
svg:hover #g3287 > *:not(:nth-child(36)):not(:nth-child(37)) {
    animation: shake 0.5s;

    animation-iteration-count: infinite;
}*/

.tree-shake-anim {
    animation: shaker 1.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.apple-shake-anim {
    animation: shaker 1.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 0.05s;
}

.apple-start-anim {
    animation: scaleUp 0.8s forwards;
    backface-visibility: hidden;
}

.apple-fall-anim {
    animation: apple-fall 1s forwards;
}

@keyframes apple-fall {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(500px);
    }
}

/*.shake-animation ~ #svg5 {
    animation: shaker 1.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 0.1s;
}*/

@keyframes shaker {
    0% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@keyframes scaleUp {
    from {
        transform: scale(0.1);
    }
    to {
        transform: scale(1);
    }
}
